<nav>
    <div class="nav-wrapper">
      
      <a href="/index" class="brand-logo center">ImageBoard</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/index">Home</a></li>
        <li><a href="/upload">Upload</a></li>
      </ul>
      
    </div>
    
</nav>
<div class ="container row center">
  <div class="card center col s4 offset-s4">
    <form action="/index" method="POST">
      <input type="text" placeholder= "Search a tag" id="userSearch" name="userSearch">
      <button class="waves-effect waves-light btn">search</button>
    </form>
  </div>
</div>

