<nav>
    <div class="nav-wrapper">
      
      <a href="/index" class="brand-logo center">ImageBoard</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/index">Home</a></li>
        <li><a href="/upload">Upload</a></li>
      </ul>
      
    </div>
    
</nav>


